# Project information
site_name: Eric's Scientific Computing Website
site_url: https://eric2003.github.io/Prometheus/
site_author: eric
site_description: >-
  Write your documentation in Markdown and create a professional static site in
  minutes – searchable, customizable, in 60+ languages, for all devices

# [UI]
# [top]
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: orange
      toggle:
        icon: material/weather-night
        name: 切换至夜间模式
    - scheme: slate
      primary: indigo
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit
  language: zh # 一些提示性的文字会变成中文
  icon:
    repo: fontawesome/brands/github
edit_uri: edit/main/docs/
repo_url: https://eric2003.github.io/Prometheus/
repo_name: Prometheus
copyright: eric
# [bottom-right corner]
extra:
  social: # icons
    - name: GitHub | eric2003
      icon: fontawesome/brands/github
      link: https://github.com/eric2003
# [Extensions]
plugins:
  - search:
      lang:
        - zh
        - en
        - ja
  - tags
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight:
      linenums: true
      auto_title: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist  # 添加此行
  - admonition
  - pymdownx.details
  - footnotes
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde  

#extra_javascript:
#  - javascripts/katex.js
#  - https://unpkg.com/katex@0/dist/katex.min.js
#  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  
extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css 
  
# JavaScript 配置，用于加载 MathJax
extra_javascript:
  - javascripts/mathjax.js  # 自定义 MathJax 设置
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js  # 从 CDN 加载 MathJax  
  
# Page tree
nav:
  - Home: 
    - Home: home/index.md
    - About: home/about.md
  - CFD&CAE:
    - OneFLOW: 
      - OneFLOW: cfd/oneflow/oneflow.md
      - Example: cfd/oneflow/example.md
      - Parallel: cfd/oneflow/parallel.md
    - Code:
      - Code: cfd/code/code.md
    - Concept:
      - CFL number: cfd/concept/cfl.md
    - CGNS: 
      - CGNS: cfd/cgns/cgns.md
      - CGNS Compile: cfd/cgns/cgns-compile.md
      - CGNS Struct: cfd/cgns/cgns-struct.md
      - Example: cfd/cgns/cgns-example.md
    - Equation:
      - Burgers Equation: cfd/equation/burgers.md
      - Convection Equation: cfd/equation/convection.md
      - Euler Equation: cfd/equation/euler.md
      - Heat Equation: cfd/equation/heat.md
    - HDF5: cfd/hdf5/hdf5.md
    - Matrix: 
      - Matrix: cfd/matrix/matrix.md
      - Tridiagonal: cfd/matrix/tridiagonal.md
    - METIS: metis/metis.md
    - NS12Steps: cfd/ns12steps/ns12steps.md
    - Partition: 
      - Partition: cfd/partition/partition.md
      - Interface: cfd/partition/interface.md
    - People:
      - Blazek: cfd/people/blazek.md
      - XuKun: cfd/people/xukun.md
    - Scheme:
      - Scheme: cfd/scheme/scheme.md
      - Engquist-Osher: cfd/scheme/engquist-osher.md
      - ENO: cfd/scheme/eno.md
      - ENO2: cfd/scheme/eno2.md
      - Lax-Friedrichs: cfd/scheme/lax-friedrichs.md
      - Smooth-Indicator : cfd/scheme/smooth-indicator.md
      - Upwind5: cfd/scheme/upwind5.md
      - WENO: cfd/scheme/weno.md
      - WENO3: cfd/scheme/weno3.md
      - WENO5: cfd/scheme/weno5.md
      - Runge-Kutta: cfd/scheme/runge-kutta.md
      - Rusanov: cfd/scheme/rusanov.md
      - Figure: cfd/scheme/figure.md
    - Scientific Computing: scientific/computing.md
    - CFD Open Source:
      - FEniCS: cfd/fenics.md
      - FiPy: cfd/fipy/fipy.md
      - FOODIE: cfd/foodie/foodie.md
      - iPIC3D: cfd/ipic3d/ipic3d.md
      - MFEM: cfd/mfem/mfem.md      
      - OpenFOAM: cfd/openfoam/openfoam.md
      - PHG: cfd/phg/phg.md
      - Salome: cfd/salome/salome.md
      - SU2: cfd/su2/su2.md
      - XFluids: cfd/xfluids/xfluids.md
  - Shell:
    - CMD: shell/cmd/cmd.md
    - FileManager: shell/filemanager/filemanager.md
    - MSYS2: shell/msys2/msys2.md
    - PowerShell: shell/powershell/powershell.md
    - Ubuntu: shell/ubuntu/ubuntu.md
    - Useful: 
      - Useful: shell/useful/useful.md
      - CMake: shell/useful/cmake.md
      - Tools: shell/useful/tools.md
    - Windows: shell/windows/windows.md
    - XShell: shell/xshell/xshell.md
  - Data:
    - Data:
      - CSV: data/csv/csv.md
      - Json: data/json/json.md
      - XML: data/xml/xml.md    
      - File Format Docs: data/file-format/file-format.md
    - DataBase:
      - MySQL: database/mysql/mysql.md    
  - GitHub:
    - Git: github/git.md
    - GitHub Pages: github/github.md
    - GitHub Actions: github/actions.md
    - Library :
      - NodeEditor : github/lib/nodeeditor.md
      - ExprTk : github/lib/exprtk.md
  - Pre&Post:
    - Mesh: prepost/mesh/mesh.md
    - Blender: prepost/blender/blender.md
    - CFD: prepost/cfd/cfd.md
    - EasyX: prepost/easyx/easyx.md
    - FFmpeg: 
      - FFmpeg: prepost/ffmpeg/ffmpeg.md
      - CMake: prepost/ffmpeg/ffmpeg-cmake.md
    - FLTK: prepost/fltk/fltk.md
    - Geometric: prepost/geometric/geometric.md
    - GMsh: prepost/gmsh/gmsh.md
    - HoloLens: prepost/hololens/hololens.md
    - Manim: prepost/manim/manim.md
    - Mayavi: prepost/mayavi/mayavi.md
    - Netgen: prepost/netgen/netgen.md
    - OpenGL:
      - GLAD: prepost/opengl/glad/glad.md
      - GLEW: prepost/opengl/glew/glew.md
      - GLFW: prepost/opengl/glfw/glfw.md
      - GLM:  prepost/opengl/glm/glm.md
      - GLSL: prepost/opengl/glsl/glsl.md
      - FREE-GLUT: prepost/opengl/glut/freeglut.md
      - OpenGL: prepost/opengl/opengl.md
    - Open CASCADE: 
      - OCC: prepost/opencascade/opencascade.md
      - OCC-Install: prepost/opencascade/install.md
    - OpenSceneGraph: prepost/osg/osg.md
    - OpenVDB: prepost/openvdb/openvdb.md
    - OpenVR: prepost/openvr/openvr.md
    - OpenXR: prepost/openxr/openxr.md
    - OSPRay: prepost/ospray/ospray.md
    - ParaView: 
      - ParaView: prepost/paraview/paraview.md
      - ParaView-Install: prepost/paraview/paraview-install.md
    - SDL: prepost/sdl/sdl.md
    - SteamVR: prepost/steamvr/steamvr.md    
    - Tecplot: prepost/tecplot/tecplot.md
    - tetgen: prepost/tetgen/tetgen.md
    - VTK: 
      - VTK: prepost/vtk/vtk.md
      - VTK-Debug: prepost/vtk/vtk-debug.md
      - VTK-Install: prepost/vtk/vtk-install.md
      - VTK-Macro: prepost/vtk/vtk-macro.md
      - Examples: prepost/vtk/vtk-examples.md
      - File Format: prepost/vtk/vtk-fileformat.md
      - VTK-CMake: prepost/vtk/vtk-cmake.md
      - VTK-Build: prepost/vtk/vtk-build.md
      - VTK-Data: prepost/vtk/vtk-data.md
      - VTK-Remote: prepost/vtk/vtk-remote.md
      - VTK-Ubuntu: prepost/vtk/vtk-ubuntu.md
    - Vulkan: 
      - Vulkan: prepost/vulkan/vulkan.md
    - Scientific visualization: 
      - Scientific: scientific/visualization.md
      - VisIt: scientific/visual/visit/visit.md      
      - Web-based: scientific/web.md
  - Library:
    - Library: lib/lib.md
    - ADIOS2: 
      - ADIOS2: lib/ADIOS2/ADIOS2.md
      - ADIOS2-ubuntu: lib/ADIOS2/ADIOS2-ubuntu.md
    - Alembic: 
      - Alembic: lib/alembic/alembic.md
      - Alembic-ubuntu: lib/alembic/alembic-ubuntu.md
    - anari: lib/anari/anari.md
    - Boost: 
      - Boost: lib/boost/boost.md
      - Boost-Ubuntu: lib/boost/boost-ubuntu.md
    - Eigen: lib/eigen/eigen.md
    - CGAL: lib/CGAL/CGAL.md
    - embree: lib/embree/embree.md
    - ffmpeg: lib/ffmpeg/ffmpeg.md
    - freetype: lib/freetype/freetype.md
    - GDAL: 
      - GDAL: lib/GDAL/GDAL.md
      - GDAL-ubuntu: lib/GDAL/GDAL-ubuntu.md
    - icu: lib/icu/icu.md
    - jsoncpp: lib/jsoncpp/jsoncpp.md
    - libarchive: 
      - libarchive: lib/libarchive/libarchive.md
      - libarchive-ubuntu: lib/libarchive/libarchive-ubuntu.md
    - libexpat: lib/libexpat/libexpat.md    
    - libgeotiff: lib/libgeotiff/libgeotiff.md
    - libigl: lib/libigl/libigl.md
    - libjpeg: lib/libjpeg/libjpeg.md
    - libLAS: 
      - libLAS: lib/libLAS/libLAS.md
      - libLAS-ubuntu: lib/libLAS/libLAS-ubuntu.md
    - libpng: lib/libpng/libpng.md
    - libpsl: lib/libpsl/libpsl.md
    - libtiff: lib/libtiff/libtiff.md
    - libxslt: lib/libxslt/libxslt.md
    - MPICH: lib/mpich/mpich.md
    - MYSQL: lib/mysql/mysql.md
    - ODBC: lib/odbc/odbc.md
    - OpenBLAS: lib/OpenBLAS/OpenBLAS.md
    - OpenCASCADE: lib/OpenCASCADE/OpenCASCADE.md
    - OpenSlide: 
      - OpenSlide: lib/OpenSlide/OpenSlide.md
      - OpenSlide-ubuntu: lib/OpenSlide/OpenSlide-ubuntu.md
    - OpenTURNS: 
      - OpenTURNS: lib/openturns/openturns.md
      - OpenTURNS-ubuntu: lib/openturns/openturns-ubuntu.md
    - OpenVDB: lib/openvdb/openvdb.md
    - openvkl: lib/openvkl/openvkl.md
    - openvr: lib/openvr/openvr.md
    - openxr: lib/openxr/openxr.md
    - ospray: lib/ospray/ospray.md
    - PostgreSQL: lib/PostgreSQL/PostgreSQL.md
    - PROJ: lib/PROJ/PROJ.md
    - rkcommon: lib/rkcommon/rkcommon.md
    - SQLite3: lib/sqlite3/sqlite3.md
    - VTK: lib/vtk/vtk.md
    - zlib: lib/zlib/zlib.md
    - zstd: lib/zstd/zstd.md
  - Parallel:
    - CUDA: parallel/cuda/cuda.md
    - MPI: 
      - MPI: parallel/mpi/mpi.md
      - MSMPI: parallel/mpi/msmpi.md
    - OpenACC: parallel/openacc/openacc.md
    - OpenMP: 
      - OpenMP: parallel/openmp/openmp.md
      - OpenMP-GCC: parallel/openmp/openmp-gcc.md
    - OpenPMIx: parallel/openpmix/openpmix.md
    - PRRTE: parallel/prrte/prrte.md
    - Thread: parallel/thread/thread.md
  - Programming:
    - Build System:
      - Bazel: build-tools/bazel/bazel.md
      - CMake: 
        - CMake: build-tools/cmake/cmake.md
        - Example: build-tools/cmake/cmake-example.md
        - CMake Generators: build-tools/cmake/cmake-generators.md
        - Install: build-tools/cmake/cmake-install.md
        - Property: build-tools/cmake/cmake-property.md
        - Parse: build-tools/cmake/cmake-parse.md
        - Python: build-tools/cmake/cmake-python.md
        - Regex: build-tools/cmake/cmake-regex.md
        - Custom: build-tools/cmake/cmake-custom.md        
      - Make: build-tools/make/make.md
      - Meson: build-tools/meson/meson.md
    - C++: 
      - Articles and Videos: language/cpp/videos.md
      - Conference: 
        - Advanced C++: language/cpp/conference/advanced_cpp.md
        - ACCU Conference: language/cpp/conference/accu_conference.md
        - CppCon: language/cpp/conference/cppcon.md
        - CppNow: language/cpp/conference/cppnow.md
        - Meeting C++: language/cpp/conference/meeting_cpp.md
      - Code Examples:
        - Simple Code: language/cpp/example.md
      - C++ Weekly: language/cpp/column/cppweekly.md
      - Grammar : language/cpp/grammar.md
      - Modules: language/cpp/modules/modules.md
      - MultiThread: language/cpp/multithread.md
      - STL: 
        - STL: language/cpp/stl/stl.md
    - CSharp:
      - CSharp: language/csharp/csharp.md
      - Windows Forms: language/csharp/forms.md
      - WPF: language/csharp/wpf.md
    - Fortran:
      - Fortran: language/fortran/fortran.md
      - Example: language/fortran/example.md
      - Intel Fortran: language/fortran/intel.md
    - Java: language/java/java.md
    - JavaScript: language/javascript/javascript.md
    - Julia: 
      - Julia: language/julia/julia.md
      - CFD-Julia: language/julia/cfd-julia.md
      - CFD-Example: language/julia/cfd-example.md
    - Kivy : language/kivy/kivy.md
    - Lua: language/lua/lua.md    
    - Mojo :
      - Mojo : language/mojo/mojo.md
    - Perl :
      - Perl : language/perl/perl.md      
    - Python: 
      - Argparse: language/python/argparse.md
      - Command: language/python/command.md
      - Example: language/python/example.md
      - File: language/python/file.md
      - Flask: language/python/flask.md
      - Grammar: language/python/grammar.md
      - Jinja:
        - Jinja: language/python/jinja.md
      - PyGame: language/python/pygame.md
      - Pyglet: language/python/pyglet.md
      - Python: language/python/python.md
      - Better-Python: language/python/better-python.md
    - PyQt: language/pyqt/pyqt.md
    - Qt:
      - Qt: language/qt/qt.md
      - Qt-CMake: language/qt/qt-cmake.md
      - Qt-Examples: language/qt/qt-examples.md
      - Qt Game: language/qt/game.md
      - Qt-Install : language/qt/qt-install.md
      - Qt-Ubuntu : language/qt/qt-ubuntu.md
      - QML: language/qt/qml.md
      - QProcess: language/qt/qprocess.md
      - QSql: language/qt/qsql.md
      - QThread: language/qt/qthread.md
      - QtTools: language/qt/qt-tools.md
      - Signals & Slots: language/qt/slots.md
    - Rust: language/rust/rust.md
    - Script:
      - Lua: script/lua/lua.md
    - Taichi: language/taichi/taichi.md
    - Tcltk : language/tcltk/tcltk.md
    - Tkinter : language/tkinter/tkinter.md
    - wxPython : language/wxpython/wxpython.md
  - HPC:
    - Supercomputing Center: hpc/hpc.md
    - Academic conferences: hpc/conferences.md
  - Math&Physics :
    - Numeical: math/numerical/numerical.md
    - Mechanics: 
      - Fluid Mechanics: physics/mechanics/fluid.md
    - Physics Engine: physics/engine/engine.md
    - Music: math/music/music.md
  - Recent:
    - Recent: recent/recent.md
    - Project: recent/project.md
    - Tools: recent/tools.md
    - Babysimu: recent/babysimu.md
  - Resources:
    - Images: resources/images/images.md
    - People: resources/people/people.md
    - Website: resources/website/website.md
  - Tools:
    - Compiler:
      - Compiler: compiler/compiler.md
      - Clang: compiler/clang/clang.md
      - GCC: compiler/gcc/gcc.md
      - LLVM: compiler/llvm/llvm.md
    - Download: 
      - curl: tools/download/curl/curl.md 
    - Modules: tools/modules/modules.md 
    - Jupyter:
      - Jupyter: tools/jupyter/jupyter.md
      - Jupyter Lab: tools/jupyter/jupyterlab.md
      - Jupyter Notebook: tools/jupyter/jupyter-notebook.md
    - Lex and Yacc: lex/lex.md
    - Node.js: tools/nodejs/nodejs.md
    - Nsight: tools/nsight/nsight.md
    - oneAPI:
      - oneAPI: tools/oneapi/oneapi.md
      - Install: tools/oneapi/install.md
      - icpx: tools/oneapi/icpx.md
    - Test:
      - Gogletest: test/test.md
      - CukeTest: test/cuketest/cuketest.md
    - Package Manager:
      - Chocolatey: package/chocolatey/chocolatey.md
      - vcpkg: package/vcpkg/vcpkg.md
      - NuGet: package/nuget/nuget.md
    - Visual Studio: 
      - Visual Studio: tools/vs/visual-studio.md
      - VS2022: tools/vs/vs2022.md
    - System Tools: 
      - Windows: 
        - Install: tools/system/windows/install.md
        - Path: tools/system/windows/windows-path.md        
        - Total Commander: tools/system/windows/total-cmd.md
        - USB: tools/system/windows/windows.md
  - Engine:
    - Game Engine:
      - Game Engine: engine/game/engine/engine.md
      - Unreal Engine: engine/game/unreal/ue5.md
      - Unity: engine/game/unity/unity.md
      - Piccolo: engine/game/piccolo/piccolo.md
    - Games:
      - Games10x: engine/games/games10x.md
      - Games20x: engine/games/games20x.md
      - Games30x: engine/games/games30x.md
      - Games40x: engine/games/games40x.md
    - Physics Engine:
      - Physics Engine: engine/physics/physics.md
    - Tutorial:
      - Tutorial: engine/tutorial/tutorial.md
  - AI:
    - AI: ai/ai.md 
    - Claude: ai/claude/claude.md 
    - DeepSeek: ai/deepseek/deepseek.md 
    - Doubao: ai/doubao/doubao.md 
    - Gemini: ai/gemini/gemini.md
    - Grok: ai/grok/grok.md
    - Kimi: ai/kimi/kimi.md
    - QWen: ai/qwen/qwen.md
    - Math:
      - Coq: ai/math/coq/coq.md
      - Idris: ai/math/idris/idris.md
      - Isabelle: ai/math/isabelle/isabelle.md
      - Lean: 
        - Lean: ai/math/lean/lean.md
        - Game: ai/math/lean/game.md
        - MIL: ai/math/lean/mil.md
    - Music: ai/music/music.md     
  - Docs:
    - Doxygen: doctools/doxygen/doxygen.md
    - Ghostscript:
      - Ghostscript: doctools/ghostscript/ghostscript.md
    - Graphviz:
      - Graphviz: doctools/graphviz/graphviz.md
    - HTML:
      - HTML: doctools/html/html.md
    - HTML Help Workshop:
      - HTML Help Workshop: doctools/htmlhelp/htmlhelp.md
    - LaTeX : 
      - LaTeX : doctools/latex/latex.md
    - Markdown:
      - Markdown: doctools/markdown/markdown.md
      - Code-Lang: doctools/markdown/code-lang.md
    - MkDocs: doctools/mkdocs/mkdocs.md 
    - Read the Docs: doctools/readthedocs/readthedocs.md
    - Sphinx: doctools/sphinx/sphinx.md
    - Zhihu: doctools/zhihu/zhihu.md
    - News: doctools/news/news.md
    
    
